<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="test-feed" value="https://pkgs.dev.azure.com/mailcheck/_packaging/test-feed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <test-feed>
      <add key="Username" value="miketest999" />
      <add key="ClearTextPassword" value="Password1" />
    </test-feed>
  </packageSourceCredentials>
</configuration>