<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="mike-test" value="https://pkgs.dev.azure.com/mailcheck/_packaging/mike-test/nuget/v2" />
  </packageSources>
  <packageSourceCredentials>
    <mike-test>
      <add key="Username" value="anything" />
      <add key="Password" value="$TESTPASSWORD" />
    </mike-test>
  </packageSourceCredentials>
</configuration>