<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="test-feed" value="https://pkgs.dev.azure.com/mailcheck/_packaging/test-feed/nuget/v2" />
  </packageSources>
  <packageSourceCredentials>
    <test-feed>
      <add key="Username" value="dont-set-as-password-is-token" />
      <add key="ClearTextPassword" value="$TESTPASSWORD$" />
    </test-feed>
  </packageSourceCredentials>
</configuration>